*

!.gitignore
!64MDL.csv
!64PP.csv
!AllParams.csv
!All*
!AllParams_refrence.csv
!AllParams_for_params.csv
!AllStates.csv
!Basic*
!Para*
!RunTimes.csv
!Sim.csv
!Stim_meta.csv
!best*
!correction_mappings.json
!exp_data
!exp_data.csv
!gen*
!opt*
